/* font-family */

@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Slab', serif;
}

h2{
  font-size: 1rem;
  font-variation-settings: 'wght' 500;
  line-height: 2em;
}

h3{
  font-size: 1rem;
  font-variation-settings: 'wght' 900;
  line-height: 1.3em;
  color: #FFCA41;
}

p{
  font-size: 0.8rem;
  line-height: 1.5em;
  margin-top: 10px;
}